{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block head %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}"> -->
{% endblock %}

{% block body %}
<div class="user-form-container">
    <form id="login-form" class="user-form">
        <div class="form-section">
            <label for="email">Email:</label>
            <input class="form-text" id="email" name="email" type="email" placeholder="someone@example.com" required>
    
            <label for="password">Password:</label>
            <input class="form-text" id="password" name="password" type="password" placeholder="*********" required>
        </div>
        <input class="button color-save" type="submit" value="Log In">
    </form>
</div>
<script src="{{ url_for('static', filename='scripts/login.js') }}" defer></script>
{% endblock %}
