{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block head %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}"> -->
{% endblock %}

{% block body %}

{% include 'navbar.html' %}
<div class="user-form-container">
    <form class="user-form" id="profile-form">
        <div class="form-section">
            <h2 class="section-title">Contact Info</h2>
                <label for="name">Full Name:</label>
                <input class="form-text" class="form-text" id="name" name="name" type="text" placeholder="Full Name" value="{{name}}">
            
                <label for="email">Email:</label>
                <input class="form-text" id="email" name="email" type="email" placeholder="someone@example.com" value="{{email}}" required>
            
                <label for="address">Address:</label>
                <input class="form-text" id="streetAddr" name="streetAddr" type="text" placeholder="123 Some Street" value="{{streetAddr}}">
                <label for="addrCity">City:</label>
                <input class="form-text" id="city" name="city" type="text" placeholder="City" value="{{city}}">
                <label for="addrProv">Province/State:</label>
                <input class="form-text" id="province" name="province" type="text" placeholder="Province" value="{{province}}">
                <label for="addrPostal">PostalCode:</label>
                <input class="form-text" id="postal" name="postal" type="text" placeholder="A1A 1A1" value="{{postal}}">
                <label for="phone">Phone Number:</label>
                <input class="form-text" id="phone" name="phone" type="text" placeholder="1 (204) 123-4567" value="{{phone}}">
        </div>
        <div class="form-section">
            <h2 class="section-title">Github</h2>
                <label for="github">Github Profile:</label>
                <input class="form-text" id="github" name="github" type="text" placeholder="github.com/johndoe" value="{{github}}">
        </div>
        <div class="form-section">
            <h2 class="section-title">Education</h2>
                <label for="degree">Degree:</label>
                <input class="form-text" id="degree" name="degree" type="text" placeholder="Bsc. Science Majoring in Computer Science" value="{{degree}}">
                <label for="university">University:</label>
                <input class="form-text" id="university" name="university" type="text" placeholder="University of Citiville" value="{{university}}">
                <label for="uniLoc">University Location:</label>
                <input class="form-text" id="uniLoc" name="uniLoc" type="text" placeholder="Citiville, AA, Countrystan" value="{{uniLoc}}">
                <label for="gpa">GPA:</label>
                <input class="form-text" id="gpa" name="gpa" type="text" placeholder="2.99" value="{{gpa}}">
        </div>
    
        <div class="form-section">
            <h2 class="section-title">Skills</h2>
                <label for="proficient">Proficient:</label>
                <textarea class="form-textarea" id="proficient" name="proficient" type="text" placeholder="" rows="12">{{proficient}}</textarea>
                <label for="familiar">Familiar:</label>
                <textarea class="form-textarea" id="familiar" name="familiar" type="text" placeholder="" rows="12">{{familiar}}</textarea>
        </div>
    
    </form>
    <button id="save-profile-btn" class="button color-save">Save Changes</button>
    <button id="delete-profile-btn" class="button color-delete">Delete Profile</button>
</div>

<script src="{{ url_for('static', filename='scripts/profile.js') }}" defer></script>

{% endblock %}
