{% extends 'base.html' %}

{% block title %}User Projects{% endblock %}

{% block head %}
    <!-- Link to the projects.css file -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/projects.css') }}"> -->
{% endblock %}

{% block body %}
{% include 'navbar.html' %}
<div class="user-form-container">
    <ul id="projectList" class="user-form"></ul>
    <button id="addProjectButton" class="button color-add">Add Project</button>
    <button id="saveProjectsButton" class="button color-save">Save Projects</button>
</div>
<script src="{{ url_for('static', filename='scripts/projects.js') }}"></script>
{% endblock %}

