{% extends 'base.html' %}

{% block title %}Resume{% endblock %}

{% block body %}

    <!-- Header -->
    <div id="header">
        <h1>Colm Evans</h1>
        <div>
            <p>14 Coral Crescent</p>
            <p>Winnipeg, MB  R2J 1V7</p>
            <p>evansgcolm@gmail.com</p>
            <p>(204) 232-5614</p>
        </div>
    </div>

    <!-- Github -->
    <div>
        <h2>Github</h2>
        <a href="https://github.com/sixChar" target="_blank" rel="noopener noreferrer">github.com/sixChar</a>
    </div>

    <!-- Education -->
    <div>
        <h2>Education</h2>
        <p>B.Sc. Computer Science Major, GPA: 3.26</p>
        <p>University of Manitoba, Winnipeg, MB</p>
    </div>

    <!-- Projects -->
    <div>
        <h2>Projects</h2>
        <ul>
            <div>
                <p>Project 1</p>
            </div>
            <div>
                <p>Project 2</p>
            </div>
            <div>
                <p>Project 3</p>
            </div>
        </ul>
    </div>

    <!-- Skills -->
    <div>
        <h2>Skills</h2>
        <div>
            Profficient:
        </div>
        <div>
            Familiar:
        </div>
    </div>
    
{% endblock %}

