{% extends 'base.html' %}

{% block title %}Resume{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/resume.css') }}">
{% endblock %}

{% block body %}

<div class="pdf-container">
    <div class="content">
    <!-- Header -->
        <div id="header" class="resume-header">
            <div class="resume-contact">
                <p>{{ streetAddr | default("None") }}</p>
                <p>{{ city | default("None") }}, {{ province | default("None") }}  {{ postal | default("None") }}</p>
                <p>{{ email | default("None") }}</p>
                <p>{{ phone | default("None") }}</p>
            </div>
            <h1 class="resume-name">{{ name | default("None") }}</h1>
        </div>

        <!-- Github -->
        <div class="section">
            <h2 class="section-title">Github</h2>
            <a class="resume-github" href="{{ github | default("None") }}" target="_blank" rel="noopener noreferrer">{{ github }}</a>
        </div>

        
        {% if experience is not none %}
        <!-- Experience -->
        <div class="section">
            <h2 class="section-title">Experience</h2>
            <ul class="resume-list">
                {% for expr in experience %}
                <li>
                    <h3 class="list-title">{{ expr["position"] }}</h3>
                    <p class="employer-date">{{ expr["employer"] }}, 
                        {% if expr["endDate"] != "" %}{{ expr["startDate"] }} to {{ expr["endDate"] }}
                        {% else %} Current position, Started {{ expr["startDate"] }}
                        {% endif %}
                    </p>
                    <p class="list-text">{{ expr["description"] }}</p>

                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <!-- Education -->
        <div class="section">
            <h2 class="section-title">Education</h2>
            <p class="education-degree">{{ degree | default("None") }}, GPA: {{ gpa | default("None") }}</p>
            <p class="education-location">{{ university | default("None") }}, {{ uniLoc | default("None") }}</p>
        </div>

        <!-- Projects -->
        <div class="section">
            <h2 class="section-title">Projects</h2>
            <ul class="resume-list">
                {% for project in projects %}
                    <li>
                        <h3 class="list-title">{{ project['title'] }}</h3>
                        <p class="list-text">"{{ project['desc'] }}"</p>
                        <p class="list-text">Link: <a class="resume-link" href="{{ project['link'] }}">{{ project['link'] }}</a></p>
                        <p class="list-text">Skills demonstrated:</p>
                        <ul class="project-skill-list">
                            {% for skill in project['skills'] %}
                                <li class="project-skill">{{ skill }}</li>    
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Skills -->
        <div class="section">
            <h2 class="section-title">Skills</h2>
            <div>
                <p class="skills-title">
                    Proficient:
                </p>
                <ul class="skills-list">
                {% for skill in proficientSkills %}
                    <li class="skill">{{ skill }}</li>
                {% endfor %}
                </ul>
                
            </div>
            <div>
                <p class="skills-title">
                    Familiar:
                </p>
                <ul class="skills-list">
                {% for skill in familiarSkills %}
                    <li class="skill">{{ skill }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}

