{% extends 'base.html' %}

{% block title %}Resume{% endblock %}

{% block body %}

    <!-- Header -->
    <div id="header">
        <h1>{{ name }}</h1>
        <div>
            <p>{{ streetAddr }}</p>
            <p>{{ city }}, {{ province }}  {{ postal }}</p>
            <p>{{ email }}</p>
            <p>{{ phone }}</p>
        </div>
    </div>

    <!-- Github -->
    <div>
        <h2>Github</h2>
        <a href="{{ github }}" target="_blank" rel="noopener noreferrer">{{ github }}</a>
    </div>

    
    {% if experience is not none %}
    <!-- Experience -->
    <div>
        <h2>Experience</h2>
        <ul>
            {% for expr in experience %}
            <li>
                <h3>{{ expr["position"] }}</h3>
                <p>{{ expr["employer"] }}, 
                    {% if expr["endDate"] is not none %}{{ expr["startDate"] }} to {{ expr["endDate"] }}
                    {% else %} Current position, Started {{ expr["startDate"] }}
                    {% endif %}
                </p>
                <p>{{ expr["description"] }}</p>

            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <!-- Education -->
    <div>
        <h2>Education</h2>
        <p>{{ degree }}, GPA: {{ gpa }}</p>
        <p>{{ uniLoc }}</p>
    </div>

    <!-- Projects -->
    <div>
        <h2>Projects</h2>
        <ul>
            {% for project in projects %}
                <li>
                    <h3>{{ project['title'] }}</h3>
                    <p>"{{ project['desc'] }}"</p>
                    <a href="{{ project['link'] }}">{{ project['link'] }}</a>
                    <ul>
                        {% for skill in project['skills'] %}
                            <li>{{ skill }}</li>    
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Skills -->
    <div>
        <h2>Skills</h2>
        <div>
            Profficient:
        </div>
        <div>
            Familiar:
        </div>
    </div>
    
{% endblock %}

