{% extends 'base.html' %}

{% block title %}Signup{% endblock %}

{% block body %}
<form id="signup-form" class="user-form">
    <div class="form-section">
        <div class="label-input-pair">
            <label for="email">Email:</label>
            <input id="email" name="email" type="email" placeholder="someone@example.com" required>
        </div>
        <div class="label-input-pair">
            <label for="password">Password:</label>
            <input id="password" name="password" type="password" placeholder="*********" required>
        </div>
        <div class="label-input-pair">
            <label for="passConf">Confirm Password:</label>
            <input id="passConf" name="passConf" type="password" placeholder="*********" required>
        </div>
    </div>
    <input type="submit" value="Sign Up">
</form>
<script src="{{ url_for('static', filename='scripts/signup.js') }}" defer></script>
{% endblock %}
