{% extends 'base.html' %}

{% block title %}Signup{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<div class="user-form-container">
    <form id="signup-form" class="user-form">
        <div class="form-section">
            <label for="email">Email:</label>
            <input class="form-text" id="email" name="email" type="email" placeholder="someone@example.com" required>
    
            <label for="password">Password:</label>
            <input class="form-text" id="password" name="password" type="password" placeholder="*********" required>
    
            <label for="passConf">Confirm Password:</label>
            <input class="form-text" id="passConf" name="passConf" type="password" placeholder="*********" required>
        </div>
        <input class="button color-save" type="submit" value="Sign Up">
    </form>
</div>
<script src="{{ url_for('static', filename='scripts/signup.js') }}" defer></script>
{% endblock %}
